.next-zero
{
    position: absolute;
    display: block;
    height: 100vh;
    width: 100vw;
    z-index: 8;
}
.zero-pic
{
    width: 100%;
    height: 100%;
    background-image: url(../images/zero/zero-bg.png);
    opacity: 20%;
    background-repeat: no-repeat;
    background-size: cover;
}
.zero-container
{
    position: absolute;
    top: calc(50% - 28%);
    left: calc(50% - 22%);
    height: 50%;
    width: 44%;
    min-width: 500px;
}
.zero-title
{
    font-size: 150pt;
    font-family: var(--font-logo);
    color: rgb(255, 255, 255);
    text-align: center;
    animation: 4s anim-zero-title forwards linear;
}
.zero-text
{
    font-size: 50pt;
    font-family: var(--font0);
    color: var(--color-light-gray-text);
    text-align: center;
    animation: 5s anim-zero-text forwards linear;
}
.zero-button
{
    position: absolute;
    top: 350px;
    left: calc(50% - 65px);
    height: 40px;
    width: 130px;
    background-color: var(--color-orange);
    border-radius: 50px;
    border-style: none;
    font-family: var(--font-logo);
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 600;
    font-size: 20pt;
    text-decoration-line: none;
    transition: transform 0.25s;
    animation: 5s anim-zero-button forwards linear;
}
.zero-button:hover
{
    background-color: rgb(206, 84, 68);
    color: rgb(253, 214, 214);
    transform: scale(1.1);
}
.zero
{
    display: block;
    animation: 4s anim-zero-main forwards linear;
}
@keyframes anim-zero-main
{
    0%
    {
        opacity: 0;
    }
    30%,60%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes anim-zero-button
{
    0%
    {
        opacity: 0;
    }
    40%
    {
        opacity: 0;
        left: calc(50% - 50px);
        width: 100px;
    }
    100%
    {
        opacity: 1;
        left: calc(50% - 65px);
        width: 130px;
    }
}
@keyframes anim-zero-title
{
    0%
    {
        font-size: 120pt;
        opacity: 0;
    }
    100%
    {
        font-size: 150pt;
        opacity: 1;
    }
}
@keyframes anim-zero-text
{
    0%
    {
        font-size: 20pt;
        opacity: 0;
    }
    100%
    {
        font-size: 35pt;
        opacity: 1;
    }
}


@media screen and (max-width: 1000px)
{
    .zero-title
    {
        font-size: 100pt;
    }
    .zero-text
    {
        font-size: 40pt;
    }
}
