.next7
{
    position: relative;
    display: block;
    height: 460px;
    background-color: rgb(0, 0, 0);
}
.next7-pic
{
    width: 100%;
    height: 100%;
    background-image: url(../images/im-c7/nc7-pic1.jpg);
    opacity: 20%;
    background-position-y: 250px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.next-container7
{
    display: flex;
    position: absolute;
    top: calc(50% - 25%);
    left: calc(50% - 27%);
    height: 50%;
    width: 55%;
}
.nc7-c
{
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
}
.nc7-el
{
    position: relative;
    height: 100%;
    width: 50%;
    margin-left: 15%;
    margin-right: 15%;
}
.nc7-el-left  { margin-left:  0px; }
.nc7-el-right { margin-right: 0px; }
.nc7-el-pic
{
    position: relative;
    height: 55px;
    width: 55px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 15px;
    left: calc(50% - 27.5px);
}
.nc7-pic-1 { background-image: url(../images/im-c7/nc7-el-pic1.png); }
.nc7-pic-2 { background-image: url(../images/im-c7/nc7-el-pic2.png); }
.nc7-pic-3 { background-image: url(../images/im-c7/nc7-el-pic3.png); }
.nc7-pic-4 { background-image: url(../images/im-c7/nc7-el-pic4.png); }
.nc7-el-text
{
    position: relative;
    margin-top: 15px;
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
    font-family: var(--font0);
    color: white;
}
.nc7-el-title
{
    position: relative;
    margin-top: 20px;
    text-align: center;
    font-size: 12pt;
    font-weight: 400;
    font-family: var(--font0);
    color: var(--color-light-gray-text);
}
.nc7-el-pic2
{
    position: relative;
    height: 16px;
    width: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 35px;
    left: calc(50% - 10px);
}
.nc7-pic2-1 { background-image: url(../images/im-c7/nc7-el-pic2-1.png); }
.nc7-pic2-2 { background-image: url(../images/im-c7/nc7-el-pic2-2.png); }
.nc7-pic2-3 { background-image: url(../images/im-c7/nc7-el-pic2-3.png); }
.nc7-pic2-4 { background-image: url(../images/im-c7/nc7-el-pic2-4.png); }


@media screen and (max-width: 1000px)
{
    .next-container7
    {
        top: calc(50% - 20%);
        left: calc(50% - 272px);
        height: 40%;
        width: 544px;
    }
}
@media screen and (max-width: 600px)
{
    .next7
    {
        height: 700px;
    }
    .next7-pic
    {
        background-position-y: 200px;
        background-attachment: none;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .next-container7
    {
        top: calc(50% - 30%);
        left: calc(50% - 175px);
        height: 35%;
        width: 350px;
    }
    .nc7-c
    {
        display: inline-block;
    }
    .nc7-el-left  { margin-left:  15%; }
    .nc7-el-right { margin-right: 15%; }
}